@import '__utility';
.main__div {
	height: 100vh;
	z-index: 2;
	width: 100vw;
	&::before {
		content: '';
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/c2e1c04b-d3eb-485c-baed-e9e9e0498474/IN-en-20210125-popsignuptwoweeks-perspective_alpha_website_small.jpg');
		background-attachment: fixed;
		background-position: center center;
		background-size: cover;
		position: absolute;
		opacity: 0.95;
		z-index: -1;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 75%,rgba(0,0,0,.8) 100%);
		height: calc(100vh + 0.5rem);
	}
	.navbar_div {
		nav {
			ul {
				justify-content: space-between;
				flex-flow: row nowrap;
				position: relative;
				z-index: 5;
				li {
					margin: 1rem 1rem;
                    .netflix-logo {
	                margin: 2rem 0 0 2rem;
	                height: 6rem;
	                fill: var(--primery-color);
                    }
					button {
						background-color: var(--primery-color);
						color: var(--secondery-color);
						outline: none;
						border: none;
						width: 10rem;
						height: 3.5rem;
						text-transform: capitalize;
						border-radius: .5rem;
						padding: 1rem;
						font-size: 1.5rem;
					}
				}
			}
		}
	}
	.main__info {
		margin: 20rem 0;
		justify-content: center;
		align-items: center;
		position: relative;
		flex-flow: column nowrap;
		color: var(--secondery-color);
		font-size: 3.5rem;
		z-index: 5;
		h5 {
			font-size: 2.7rem;
			font-weight: 400;
			margin-bottom: 1rem;
		}
		h3 {
			font-size: 5.5rem;
			font-weight: 700;
			margin-bottom: 0.5rem;
		}
		button {
			margin-top: 2rem;
			outline: none;
			border: none;
			background-color: var(--primery-color);
			color: var(--secondery-color);
			text-transform: capitalize;
			width: 25rem;
			height: 5rem;
			cursor: pointer;
			font-size: 2.5rem;
		}
	}
}
.enjoy {
	margin-top: 0.5rem;
	padding-top: 0.5rem;
	height: 60vh;
	background-color: #000;
	color: white;;
	align-items: center;
	justify-content: space-around;
	flex-flow: row wrap;
	position: relative;
    .enjoy__one {
		h1 {
			font-size: 2.5rem;
			margin: 2.5rem 0 0 0;
		}
		p {
			margin: 1.5rem 0 0 0;
			font-size: 1.5rem;
		}
	}
	.enjoy__two {
		.enjoy__two__img {
			img {
				width: 33.5rem;
				height: 25rem;
				z-index: 1;
				position: relative;
			}
		}
		.enjoy__two__video {
			width: 0;
            height: 0;
			video {
				position: relative;
				width: 40.1rem;
				height: 13.6rem;
				bottom: 20rem;
				right: 3.4rem;
			}
		}
	}
}
.download {
	margin-top: 0.5rem;
	padding-top: 0.5rem;
	height: 60vh;
	background-color: #000;
	color: white;
	align-items: center;
	justify-content: space-around;
	flex-flow: row wrap;
	position: relative;
	img {
		margin-top: -1rem;
		height: 30rem;
	}
}
.watch {
	margin-top: 0.5rem;
	padding-top: 0.5rem;
	height: 60vh;
	background-color: #000;
	color: white;
	align-items: center;
	justify-content: space-around;
	flex-flow: row wrap;
	position: relative;
	.imgvideo {
        // overflow-x: hidden;
        width: 50rem;
		.img{
			position: relative;
			z-index: 1;
		}
		.video {
            width: 0;
            height: 0;
            video{
            position: relative;
            bottom: 34.5rem;
            left:  9.5rem;
            width: 31.5rem;
            }
		}
	}
}
.enjoy__two {
	margin-left: 5.5rem;
	margin-top: 5.5rem;
}
.dropdowns {
	h1 {
		margin: 0.5rem 0;
	}
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
	background-color: #000;
	color: var(--secondery-color);
	margin-top: 0.5rem;
	padding-top: 0.5rem;
	text-align: center;
	.drop {
		background-color: #303030;
		width: 80vw;
		height: 5vh;
		justify-content: space-between;
		align-items: center;
		flex-flow: row nowrap;
		outline: none;
		border: none;
		text-align: center;
		vertical-align: middle;
		margin: 1rem 0;
		span {
			font-size: 1.5rem;
			padding: 0 0 0 2.5rem;
		}
		.svg {
			width: 4.5rem;
			padding: 0 2.5rem 0 0;
		}
		svg {
			transform: rotate(134deg);
			fill: var(--secondery-color);
		}
	}
}
footer {
	margin-top: 0.5rem;
	padding-top: 0.5rem;
	height: 25vh;
	background-color: #000;
	align-items: center;
	justify-content: flex-start;
	flex-flow: column nowrap;
	font-size: 1.5rem;
	color: #303030;
	.options {
		margin-top: 1rem;
		align-items: center;
		justify-content: space-between;
		.first {
			align-items: flex-end;
			justify-content: space-evenly;
		}
		.second {
			align-items: flex-end;
			justify-content: space-evenly;
		}
		.options__row {
			margin: 1rem 1rem;
		}
	}
};
@import '__responsive';
